@{
    Layout = "_Layout";
}
@model BooksViewModel

<div class="container">
    <h2 class="my-4">Books Management</h2>

    <table class="table table-striped table-bordered" id="booksTable">
        <thead class="thead-dark">
            <tr>
                <th>Title</th>
                <th>Author</th>
                <th>Publisher</th>
                <th>Genre</th>
                <th>Isbn</th>
                <th>Description</th>
                <th>Actions</th>
                <th>Delete</th> <!-- New column for Delete/Cancel -->
            </tr>
        </thead>
        <tbody>
            @foreach (var book in Model.Books)
            {
                <tr data-book-id="@book.Id">
                    <td><input type="text" class="form-control" value="@book.Title" data-field="Title" /></td>
                    <td>
                        <select class="form-control" data-field="AuthorId">
                            @foreach (var author in Model.Authors)
                            {
                                <option value="@author.Id" @(author.Id == book.AuthorId ? "selected" : "")>@author.FirstName @author.LastName</option>
                            }
                        </select>
                    </td>
                    <td>
                        <select class="form-control" data-field="PublisherId">
                            @foreach (var publisher in Model.Publishers)
                            {
                                <option value="@publisher.Id" @(publisher.Id == book.PublisherId ? "selected" : "")>@publisher.Name</option>
                            }
                        </select>
                    </td>
                    <td>
                        <select class="form-control" data-field="GenreId">
                            @foreach (var genre in Model.Genres)
                            {
                                <option value="@genre.Id" @(genre.Id == book.GenreId ? "selected" : "")>@genre.Name</option>
                            }
                        </select>
                    </td>
                    <td><input type="text" class="form-control" value="@book.Isbn" data-field="Isbn" /></td>
                    <td><input type="text" class="form-control" value="@book.Description" data-field="Description" /></td>
                    <td>
                        <button class="btn btn-primary btn-save">Save</button>
                    </td>
                    <td>
                        <button class="btn btn-danger btn-delete">Delete</button>
                    </td>
                </tr>
            }
            <tr id="newBookRow" style="display:none;">
                <td><input type="text" class="form-control" data-field="Title" placeholder="Enter title" /></td>
                <td>
                    <select class="form-control" data-field="AuthorId">
                        @foreach (var author in Model.Authors)
                        {
                            <option value="@author.Id">@author.FirstName @author.LastName</option>
                        }
                    </select>
                </td>
                <td>
                    <select class="form-control" data-field="PublisherId">
                        @foreach (var publisher in Model.Publishers)
                        {
                            <option value="@publisher.Id">@publisher.Name</option>
                        }
                    </select>
                </td>
                <td>
                    <select class="form-control" data-field="GenreId">
                        @foreach (var genre in Model.Genres)
                        {
                            <option value="@genre.Id">@genre.Name</option>
                        }
                    </select>
                </td>
                <td><input type="text" class="form-control" data-field="Isbn" placeholder="Enter ISBN" /></td>
                <td><input type="text" class="form-control" data-field="Description" placeholder="Enter description" /></td>
                <td>
                    <button class="btn btn-success btn-save-new">Save</button>
                </td>
                <td>
                    <button class="btn btn-secondary btn-cancel-new">Cancel</button>
                </td>
            </tr>
        </tbody>
    </table>

    <button class="btn btn-success my-3" id="addNewBookButton"><i class="fas fa-plus"></i> Add New Book</button>
</div>


<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://hw2storage497876.blob.core.windows.net/$web/js/books.js"></script>

