@{
    Layout = "_Layout";
}
@model OrdersViewModel

<h2>Manage Orders</h2>

<table class="table table-bordered">
    <thead>
        <tr>
            <th>UserId</th>
            <th>Street</th>
            <th>City</th>
            <th>Postal Code</th>
            <th>Country</th>
            <th>Show Items</th>
            <th>Save</th>
            <th>Delete</th>
        </tr>
    </thead>
    <tbody>
        @if (Model.Orders != null)
        {
            foreach (var order in Model.Orders)
            {
                <tr data-order-id="@order.Id" class="order-row">
                    <td>@order.UserId</td>
                    <td>
                        <input type="text" class="form-control" data-field="Street" value="@order.Address.Street" />
                    </td>
                    <td>
                        <input type="text" class="form-control" data-field="City" value="@order.Address.City" />
                    </td>
                    <td>
                        <input type="text" class="form-control" data-field="PostalCode" value="@order.Address.PostalCode" />
                    </td>
                    <td>
                        <input type="text" class="form-control" data-field="Country" value="@order.Address.Country" />
                    </td>
                    <td>
                        <button class="btn btn-primary btn-toggle-items">Show Items</button>
                    </td>
                    <td>
                        <button class="btn btn-primary btn-save">Save</button>
                    </td>
                    <td>
                        <button class="btn btn-danger btn-delete">Delete</button>
                    </td>
                </tr>
                <tr class="order-items-row" style="display: none;">
                    <td colspan="7">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th>Shop Item</th>
                                    <th>Count</th>
                                    <th>Actions</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in order.OrderItems)
                                {
                                    <tr class="order-item-row" data-order-item-id="@item.ShopItemId">
                                        <td>
                                            <select class="form-control" data-field="ShopItemId">
                                                @foreach (var shopItem in Model.ShopItems)
                                                {
                                                    <option value="@shopItem.Id" @(shopItem.Id == item.ShopItemId ? "selected" : "")>
                                                        @shopItem.BookTitle
                                                    </option>
                                                }
                                            </select>
                                        </td>
                                        <td>
                                            <input type="number" class="form-control" data-field="Count" value="@item.Count" />
                                        </td>
                                        <td>
                                            <button class="btn btn-danger btn-delete-item">Remove</button>
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                        <button class="btn btn-primary btn-add-item">Add Item</button>
                    </td>
                </tr>
            }
        }
        <tr id="newOrderRow" style="display:none;" class="new-order-row">
            <td>
                <input type="text" class="form-control" data-field="UserId" placeholder="UserId" />
            </td>
            <td>
                <input type="text" class="form-control" data-field="Street" placeholder="Street" />
            </td>
            <td>
                <input type="text" class="form-control" data-field="City" placeholder="City" />
            </td>
            <td>
                <input type="text" class="form-control" data-field="PostalCode" placeholder="Postal Code" />
            </td>
            <td>
                <input type="text" class="form-control" data-field="Country" placeholder="Country" />
            </td>
            <td>
                <button class="btn btn-primary btn-toggle-items">Show Items</button>
            </td>
            <td>
                <button class="btn btn-primary btn-save-new-order">Save</button>
            </td>
            <td>
                <button class="btn btn-secondary btn-cancel-new-order">Cancel</button>
            </td>
        </tr>
    </tbody>
</table>

<button id="addNewOrderButton" class="btn btn-primary">Add New Order</button>


<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://hw2storage497876.blob.core.windows.net/$web/js/orders.js"></script>




    